{% extends 'base.html' %}

{% block ng_app %}lms.app.curricula{% endblock %}

{% block content %}
	
{% verbatim %}

<div ng-controller="CurriculumCtrl">
	
	<div class="container">
		<h1>Curriculum list
		<small class="pull-right">Filter: <input ng-model="query"></small>
		</h1>
	</div>

	<div class="container curr-list">
		<accordion id="curr-accordion" close-others="oneAtATime">
			<div class="" ng-repeat="curriculum in curricula | filter:query">

				<div class="row">
					<div class="col-xs-1 col-center icon-pad-top">
						<i class="fa fa-globe fa-lg"></i>
					</div>
					<div class="col-sm-3">
						<h5 class="">{{curriculum.name}}</h5>
					</div>
					<div class="col-sm-8">
						<span class="pull-right icon-pad-top">
							<i class="fa fa-edit fa-md"></i>
							<i class="fa fa-file-pdf-o fa-md"></i>
						</span>
						<h5 class="">Grades {{curriculum.lower_grade}}-{{curriculum.upper_grade}}, {{curriculum.tagline}}</h5>
						<p class="">{{curriculum.description}}</p>
					</div>
					<accordion-group id="curr-accordion-group" heading="Lessons">
					<div class="" ng-repeat="tag in curriculum.tags">
						<img src = "{{tag.logo}}">
					</div>
					<div class="" ng-repeat="relationship in curriculum.activities">
						<accordion id="activity-accordion" close-others="oneAtATime">
							<div class="row no-pad">
								<div class="col-xs-1"></div>
								<div class="col-xs-1 col-center icon-pad-top">
									<i class="fa fa-book fa-lg"></i>
								</div>
								<div class="col-xs-2">
									<h5 class="">{{relationship.activity.name}}</h5>
								</div>
								<div class="col-xs-8">
									<h5 class="">{{relationship.activity.category}}</h5>
									<p>{{relationship.activity.description}}</p>
								</div>
									<accordion-group id="activity-accordion-group" heading="Details">
										<ul>
											<li><strong>Teaching notes:</strong> {{relationship.activity.teaching_notes}}</li>
											<li><strong>Video:</strong> {{relationship.activity.video_url}}</li>
											<li><strong>Image:</strong> {{relationship.activity.image}}</li>
											<li><strong>Materials:</strong> {{relationship.activity.relationships}}</li>
											<li><strong>Resources:</strong> {{relationship.activity.relationships}}</li>
											<li><strong>Related:</strong> {{relationship.activity.relationships}}</li>
										</ul>
									</accordion-group>
							</div>
						</accordion>
					</div>
					</accordion-group>
					<div class="row no-pad">
						<hr class="no-margin">
					</div>
				</div>	
			</div>
		</accordion>
	</div>
	
	<div class="container no-pad" class="stposition">
		<span class="pull-right icon-pad-top">
			<i class="btn btn-default fa fa-plus-circle fa-btn" ng-click="open()"></i>
		</span>
	</div>

</div>



{% endverbatim %}

{% endblock %}

{% block js %}
{{ block.super }}
	{% load staticfiles%}
	<script src="{% static "js/app.curricula.js" %}"></script>

	<script>
	// Add the CSRF token
	var app = angular.module('lms.app.curricula');
	app.config(['$httpProvider', function($httpProvider) {
  		$httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
	}]);
	</script>
{% endblock %}