{% extends 'base.html' %}

{% block ng_app %}lms.app{% endblock %}

{% block content %}

{% verbatim %}

<div ng-controller="AppCtrl">

	<div class="first-element"></div>
	
	<div class="container">
		<h1>Curriculum list
			<small class="pull-right"><input ng-model="query"> <i class="fa fa-search fa-md"></i></small>
		</h1>
	</div>

	<div class="container curr-list">
		<accordion id="curr-accordion" close-others="oneAtATime">
			<div ng-cloak ng-repeat="curriculum in curricula | filter:query">

				<div class="row">
					<div class="col-xs-1 col-center icon-pad">
						<i class="fa fa-globe fa-lg"></i>
					</div>
					<div class="col-sm-3">
						<h3 ng-cloak class="no-margin">{{curriculum.name}}</h3>
					</div>
					<div class="col-sm-8">
						<span class="pull-right icon-pad">
							<i class="fa fa-edit fa-md" ng-mouseenter="currEditLabel = true" ng-mouseleave="currEditLabel = false"></i>
							<i class="fa fa-file-pdf-o fa-md" ng-mouseenter="currPDFLabel = true" ng-mouseleave="currPDFLabel = false"></i>
						</span>
						<br>
						<br>
						<span>
							<p ng-show="currEditLabel" class="tip pull-right">Edit Curriculum</p>
							<p ng-show="currPDFLabel" class="tip pull-right">Export to PDF</p>
						</span>
						<h4 ng-cloak>Grades {{curriculum.lower_grade}}-{{curriculum.upper_grade}}, {{curriculum.tagline}}</h4>
						<p ng-cloak>{{curriculum.description}}</p>
						<span ng-show="notEmpty({{curriculum.tags}})" ng-repeat="tag in curriculum.tags">
							<img ng-src="{{tag.logo}}" alt="tag.name" class="img-thumbnail img-responsive">
						</span>
					</div>
					<accordion-group id="activity-group" heading="View lessons">
					<div ng-cloak ng-repeat="activity in curriculum.activities">
						<div class="row">
							<div class="col-xs-offset-2 col-xs-2" ng-switch on="activity.category">
								<!-- Show appropriate logo for curriculum type -->
								<span ng-switch-when="Offline">
									<i class="fa fa-pencil fa-fw fa-md icon-pad"></i>
								</span>
								<span ng-switch-when="Online">
									<i class="fa fa-laptop fa-fw fa-md icon-pad"></i>
								</span>
								<span ng-switch-when="Discussion">
									<i class="fa fa-users fa-fw fa-md icon-pad"></i>
								</span>
								<span ng-cloak class="icon-label">{{activity.category}}</span>
							</div>
							<div class="col-xs-6">
								<h4 ng-cloak>
									{{activity.name}}
									<!-- Show link to video -->
									<span ng-show="notEmpty('{{activity.video_url}}')">
										<a href="{{activity.video_url}}" target="_blank" ><i class="btn fa fa-youtube-play fa-btn no-pad-vertical light-pad-right no-border" ng-mouseenter="videoLabel = true" ng-mouseleave="videoLabel = false"></i></a>
										<span class="tip" ng-show="videoLabel">View video</span>
									</span>
								</h4>
								<p ng-cloak class="notes">{{activity.teaching_notes}}<p>
									<span ng-show="notEmpty({{activity.tags}})" ng-repeat="tag in activity.tags">
										<img ng-src="{{tag.logo}}" alt="tag.name" class="img-thumbnail img-responsive">
									</span>
									<select class="form-control" id="add-tag" ng-model="addTag" ng-options="tag.name for tag in tags">
										<option value=''>Create new tag</option>
									</select>
									<i class="add-object btn fa fa-plus-circle fa-btn no-pad" id="new-tag" ng-mouseenter="newTagLabel = true" ng-mouseleave="newTagLabel = false" ng-click="newTag(curriculum, activity, addTag)"></i>
									<span ng-cloak ng-show="newTagLabel" class="tip">Add {{addTag.name || "new tag"}}</span>
								</div>
								<div class="col-xs-2">
									<span class="pull-right icon-pad">
										<!-- Open modal window with materials -->
										<a><i class="btn fa fa-file-o fa-btn no-border no-pad" ng-mouseenter="materialsLabel = true" ng-mouseleave="materialsLabel = false" ng-click="activityMaterials(activity.id, activity.materials, 'sm')"></i></a>
										<!-- Open modal window with resources / helpful tips -->
										<a><i class="btn fa fa-question-circle fa-btn no-border no-pad" ng-mouseenter="resourcesLabel = true" ng-mouseleave="resourcesLabel = false" ng-click="activityResources(activity.id, activity.resources, 'sm')"></i></a>
										<!-- Open modal window with activity steps -->
										<a><i class="btn fa fa-plus fa-btn no-border no-pad" ng-mouseenter="stepLabel = true" ng-mouseleave="stepLabel = false" ng-click="activitySteps(activity.id, activity.steps, 'sm')"></i></a>
										<!-- Open pre-populated modal window to edit activity -->
										<i class="btn fa fa-edit fa-md no-border no-pad" ng-mouseenter="activityEditLabel = true" ng-mouseleave="activityEditLabel = false" ng-click="editActivity(activity)"></i> 
										<!-- REMOVED: Modal window with related activities. Can open in new window or jump to appropriate section -->
										<!-- <a><i class="fa fa-plus fa-btn" ng-mouseenter="relatedLabel = true" ng-mouseleave="relatedLabel = false" ng-click="relatedActivities()"></i></a> -->
									</span>
									<br>
									<br>
									<span>
										<p ng-show="materialsLabel" class="tip pull-right">Lesson materials</p>
										<p ng-show="resourcesLabel" class="tip pull-right">Helpful hints</p>
										<p ng-show="relatedLabel" class="tip pull-right">Related lessons</p>
										<p ng-show="stepLabel" class="tip pull-right">View steps</p>
										<p ng-show="activityEditLabel" class="tip pull-right">Edit lesson</p>
									</span>
								</div>
							</div>
							<hr class="no-margin">
						</div>
						<div class="container row">
							<div class="col-xs-offset-4 col-xs-8">
								<select class="form-control light-margin-vertical" id="add-activity" ng-model="addActivity" ng-options="activity.name for activity in activities">
									<option value=''>Create new activity</option>
								</select>
								<i class="add-object btn fa fa-plus-circle fa-btn no-pad" id="new-activity" ng-mouseenter="newActivityLabel = true" ng-mouseleave="newActivityLabel = false" ng-click="newActivity(curriculum, addActivity)"></i>
								<span ng-cloak ng-show="newActivityLabel" class="tip">Add {{addActivity.name || "new activity"}}</span>
							</div>
						</div>
					</accordion-group>
					<div class="row no-pad">
						<hr class="no-margin">
					</div>
				</div>	
			</div>
		</accordion>
	</div>

<div class="container">
	<span class="pull-right light-pad-vertical">
	<span ng-cloak ng-show="newCurrLabel" class="tip">Add new curriculum</span>
	<i class="pull-right add-object btn fa fa-plus-circle fa-btn no-pad-left no-pad-vertical" ng-mouseenter="newCurrLabel = true" ng-mouseleave="newCurrLabel = false" ng-click="newCurriculum()"></i>
	</span>
</div>

</div>

{% endverbatim %}

{% endblock %}

{% block js %}
{{ block.super }}
{% load staticfiles%}
	<script src="{% static "js/app/app.js" %}"></script>

	<script src="{% static "js/app/api.js" %}"></script>
	
	<script src="{% static "js/app/directives/directives.js" %}"></script>

	<script src="{% static "js/app/services/services.js" %}"></script>
	
	<script src="{% static "js/app/controllers/controllers.js" %}"></script>
	<script src="{% static "js/app/controllers/resource-controllers.js" %}"></script>
	<script src="{% static "js/app/controllers/step-controllers.js" %}"></script>
	<script src="{% static "js/app/controllers/material-controllers.js" %}"></script>
	<script src="{% static "js/app/controllers/tag-controllers.js" %}"></script>
	<script src="{% static "js/app/controllers/activity-controllers.js" %}"></script>
	<script src="{% static "js/app/controllers/curriculum-controllers.js" %}"></script>

<script>
	// Add the CSRF token
	var app = angular.module('lms.app');
	app.config(['$httpProvider', function($httpProvider) {
		$httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
	}]);
</script>
{% endblock %}