{% extends 'base.html' %}

{% block ng_app %}lms.app.curricula{% endblock %}

{% block content %}
	<div ng-controller="CurriculumCtrl">
	
	{% verbatim %}
	    <div class="panel" ng-repeat="curriculum in curricula">
	        <div class="panel-heading clearfix">
	            <h3 class="panel-name">{{ curriculum.name }}</h3>
	            <author class="pull-right">{{ curriculum.tagline }}</author>
	        </div>
	        <p class="well"><em>Description: </em>{{ curriculum.description }}</p>
	    </div>
	{% endverbatim %}

{% endblock %}

{% block js %}
{{ block.super }}
	{% load staticfiles%}
	<script src="{% static "js/app.curricula.js" %}"></script>
{% endblock %}