{% extends 'lessons_base.html' %}

{% block content %}
<h1>Add a Curriculum</h1>

<form class="form-inline" id="curriculum_form" method="post" action="{% url 'lessons:add-curriculum' %}">
    {% csrf_token %}

    {% for field in form.visible_fields %}
    <fieldset class="control-group">
        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
    	<div class="controls">
        	{{ field }}
        	<p class="help-text">{{ field.help_text }} </p>
    	</div>
	</fieldset>
    {% endfor %}

    <input type="submit" name="submit" value="Create curriculum" />
</form>
{% endblock content %}