{% extends 'lessons_base.html' %}

{% block content %}

<h3>Index of all curricula</h3>

{% if curricula %}
    <ul>
    {% for curriculum in curricula %}
        <li><a href="{% url 'lessons:curriculum-detail' curriculum.id %}">{{ curriculum.name }}: {{ curriculum.tagline }} (Grades {{ curriculum.lower_grade }}-{{ curriculum.upper_grade }})</a></li>
    {% endfor %}
    <br>
    <li><a href="{% url 'lessons:add-curriculum' %}">New curriculum</a></li>
    </ul>
{% else %}
    <p>No curricula are available.</p>
{% endif %}

{% endblock content %}