<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
	<div class="container no-pad" class="stposition">
		<div class="modal-header">
			<h3 class="modal-title">Create New Curriculum</h3>
		</div>
		<div class="modal-body">
			<form class="form-inline">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="newCurriculum.name" placeholder="Name">
				</div>
				<br>
				<br>
				<div class="form-group">
					<input type="text" class="form-control" ng-model="newCurriculum.tagline" placeholder="Tagline (optional)">
				</div>
				<br>
				<br>
				<div class="form-group">
					<textarea class="form-control" ng-model="newCurriculum.description" placeholder="Description"></textarea>
				</div>
				<br>
				<br>
				<div class="form-group">
					<select class="form-control" ng-model="newCurriculum.lower_grade"
					ng-options="grade.id as grade.value for grade in grades">
					<option value=''>Lower Grade</option>
				</select>
			</div>
			<br>
			<br>
			<div class="form-group">
				<select class="form-control" ng-model="newCurriculum.upper_grade" ng-options="grade.id as grade.value for grade in grades">
					<option value=''>Upper Grade</option>
				</select>
			</div>
			<br>
			<br>
			<div class="form-group">
				<select class="form-control" ng-model="newCurriculum.activities" ng-options="activity.id as activity.name for activity in activities">
					<option value=''>Add Activity (Optional)</option>
				</select>
			</div>
			<br>
			<br>
			<div class="form-group">
				<button class="btn btn-primary" ng-click="save()">Add Curriculum</button>
				<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
			</div>
			<br>
			<p ng-repeat="(name, errs) in errors" class="alert alert-danger"><strong>{{ name }}</strong>: {{ errs.join(', ') }}</p>
		</form>
	</div>
</body>

</html>