<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
	<div class="no-pad fixed">
		<div class="modal-header">
			<h3 class="modal-title">
				Create New Activity
				<button class="btn btn-warning pull-right" ng-click="cancel()">Cancel</button>
			</h3>

		</div>
		<div class="modal-body">
			<form id="new-activity-form" class="form-inline">
				<div class="form-group">
					<label class="sr-only" for="newActivityName">Name</label>
					<input type="text" class="form-control form-fixed-width" id="newActivityName" ng-model="newActivity.name" placeholder="Name">
				</div>
				<br>
				<br>
				<div class="form-group">
					<label class="sr-only" for="newActivityDesc">Description</label>
					<textarea class="form-control form-fixed-width" id="newActivityDesc" ng-model="newActivity.description" placeholder="Description"></textarea>
				</div>
				<br>
				<br>
				<div class="form-group">
					<label class="sr-only" for="newActivityTags">Tags</label>
					Add Tags (Hold down "Control", or "Command" on a Mac, to select more than one.)
					<select class="form-control form-fixed-width" id="newActivityTags" ng-model="newActivity.tags" ng-options="tag.id as tag.name for tag in tags" multiple>
					</select>
				</div>
				<br>
				<br>
				<div class="form-group">
					<label class="sr-only" for="newActivityNotes">Teaching Notes</label>
					<textarea class="form-control form-fixed-width" id="newActivityNotes" ng-model="newActivity.teaching_notes" placeholder="Teaching Notes (Optional)"></textarea>
				</div>
				<br>
				<br>
				<div class="form-group">
					<label class="sr-only" for="newActivityVideo">Video URL</label>
					<input type="url" class="form-control form-fixed-width" id="newActivityVideo" ng-model="newActivity.video_url" placeholder="Video URL (Optional)">
				</div>
				<br>
				<br>
				<div class="form-group">
					<label class="sr-only" for="newActivityCategory">Category</label>
					<select class="form-control form-fixed-width" id="newActivityCategory" ng-model="newActivity.category" ng-options="cat.code as cat.type for cat in categories">
						<option value=''>Category (Optional)</option>
					</select>
				</div>
				<br>
				<br>
				<div class="form-group">
					<label class="sr-only" for="newActivityImage">Image</label>
					<input type="file" accept="image/*" class="form-control form-fixed-width" id="newActivityImage" ng-model="newActivity.image">
				</div>
				<br>
				<br>
				<button class="btn btn-primary pull-right" ng-click="save()">Add Activity</button>
				<br>
				<br>
				<p> {{errors}}</p>
			</form>
		</div>
	</div>
</body>

</html>