<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
	<div class="no-pad fixed">
		<div class="modal-header">
			<h3 class="modal-title">
				Create New Tag
				<button class="btn btn-warning pull-right" ng-click="cancel()">Cancel</button>
			</h3>

		</div>
		<div class="modal-body">
			<form id="new-material-form" class="form-inline">
				<div class="form-group">
					<label class="sr-only" for="newTagName">Name</label>
					<input type="text" class="form-control form-fixed-width" id="newTagName" ng-model="newTag.name" placeholder="Name">
				<br>
				<br>
				<div class="form-group">
					<label class="sr-only" for="newTagCategory">Category</label>
					<select class="form-control form-fixed-width" id="newTagCategory" ng-model="newTag.category" ng-options="cat.code as cat.type for cat in categories">
						<option value=''>Category</option>
					</select>
				</div>				
				<br>
				<br>
				<div class="form-group">
					<label class="sr-only" for="newTagLogo">Logo</label>
					<input type="file" accept="image/*" class="form-control form-fixed-width" id="newTagLogo" my-file-model="newTag.logo">
				</div>
				<br>
				Image data: {{newTag.logo}}
				<br>
				<br>
				<button class="btn btn-primary pull-right" ng-click="save()">Add Tag</button>
				<br>
				<br>
				<p class="error">{{errors}}</p>
			</form>
		</div>
	</div>
</body>

</html>