<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	<link rel="stylesheet" href="{% static "css/font-awesome.css" %}">
</head>
<body ng-app="{% block ng_app %}{% endblock %}">
	{% block content %}		
	{% endblock %}

	{% block js %}
	<script src="{% static "js/angular/angular.js" %}"></script>
	<script src="{% static "js/angular/angular-resource.js" %}"></script>

	<script src="{% static "js/angularUI/ui-bootstrap-tpls-0.12.1.js" %}"></script>

	<script src="{% static "js/api.js" %}"></script>
	{% endblock %}
</body>
</html>