<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "css/font-awesome.css" %}">

	<!--Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Great%20Vibes' rel='stylesheet' type='text/css'>

	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>
<body ng-app="{% block ng_app %}{% endblock %}">
	{% include "navbar.html" %}
	{% block content %}		
	{% endblock %}

	{% block js %}
	<script src="{% static "js/angular/angular.js" %}"></script>
	<script src="{% static "js/angular/angular-resource.js" %}"></script>

	<script src="{% static "js/angularUI/ui-bootstrap-tpls-0.12.1.js" %}"></script>

	<script src="{% static "js/underscore-1.8.2.js" %}"></script>

	<script src="{% static "js/app/api.js" %}"></script>
	<script src="{% static "js/app/directives/directives.js" %}"></script>
	<script src="{% static "js/app/controllers/controllers.js" %}"></script>
	<script src="{% static "js/app/controllers/resource-controllers.js" %}"></script>
	<script src="{% static "js/app/controllers/material-controllers.js" %}"></script>
	<script src="{% static "js/app/controllers/tag-controllers.js" %}"></script>
	<script src="{% static "js/app/controllers/activity-controllers.js" %}"></script>
	<script src="{% static "js/app/controllers/curriculum-controllers.js" %}"></script>
	{% endblock %}
	{% include "footer.html" %}
</body>
</html>