<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}">
</head>
<body ng-app="{% block ng_app %}lms.app.basic{% endblock %}">
	<h1>List of activities:</h1>
	<div class="content" ng-controller="{% block ng_controller %}AppController{% endblock %}">
	{% block content %}
	{% verbatim %}
	    <div class="panel" ng-repeat="activity in activities">
	        <div class="panel-heading clearfix">
	            <h3 class="panel-name">{{ activity.name }}</h3>
	        </div>
	        <p class="well">{{ activity.description }}</p>
	    </div>
	{% endverbatim %}
	{% endblock %}
	</div>
	<script src="{% static "js/angular/angular.js" %}"></script>
	<script src="{% static "js/angular/angular-resource.js" %}"></script>
	<script src="{% static "js/app-basic.js" %}"></script>
</body>
</html>