{% extends 'lessons_base.html' %}

{% block content %}
<h1>Add a Tag</h1>

<form class="form-inline" id="tag_form" method="post" action="/lessons/tags/new/" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form.visible_fields %}
    <fieldset class="control-group">
        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
    	<div class="controls">
        	{{ field }}
        	<p class="help-text">{{ field.help_text }} </p>
    	</div>
	</fieldset>
    {% endfor %}

    <input type="submit" name="submit" value="Create tag" />
</form>
{% endblock content %}